<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPS XTREME</title>
  </head>
  <body>

    <div class="container">
    <h2><%= session[:id] %></h2>
      <%= yield %>

    </div>
  </body>


</html>
