<form action="/sign-up" class="sign-in" method="post">
  <div>
    <label for="username">username: </label>
    <input type="text" id="username" name="username" placeholder="barbara beavertail">
  </div>
  <div>
    <label for="password">password: </label>
    <input type="password" id="username" name="password">
  </div>
    <input type="submit" name="sign-up-submit" value="sign up" >
</form>
<a href="/">sign in!</a>
